<div class="detail-container">
  <div class="detail-item">
    <img src="{{ product.url }}">
  </div>
  <div class="detail-item content">
    <h1>{{product.name}}</h1>
    <p>$ {{product.price}}</p>
    <p> {{product.description }}</p>
    <select [(ngModel)]="quantity" id="quantity" (ngModelChange)="onChange(quantity)">
      <option *ngFor="let quantity of quantities" [ngValue]="quantity">{{quantity}}</option>
  </select>
    <button (click)="addItem(product.name!, product.price!, quantity!)">Add to cart</button>
    <a routerLink="/"> &lt;- Back to product list</a>
  </div>
</div>