<div class="detail-container">
  <div class="detail-item">
    <img src="{{ product.url }}">
  </div>
  <div class="detail-item content">
    <h1>{{product.name}}</h1>
    <p>$ {{product.price}}</p>
    <p> {{product.description }}</p>
    <select id="quantity">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <button>Add to cart</button>
    <a routerLink="/"> &lt;- Back to product list</a>
  </div>
</div>