<div class="main">
  <div class="empty-cart-message" *ngIf="cartitems.length === 0">Your cart is empty!</div>
  <div class="cart-container">
  <div class="cart-item-container">
    <div *ngFor ="let cartitem of cartitems" class="cart-item">
    <img src="{{cartitem.url}}">
    <div class="cart-item-details">
       <p>{{cartitem.name}}</p>
       <p>$ {{cartitem.price}}</p>
       <div class="quantity"><button class="round" (click)="addOne(cartitem.name!)">+</button><input [(ngModel)]="cartitem.quantity"><button class="round" (click)="removeOne(cartitem.name!)">-</button></div>
    </div>
  </div>
  <div *ngIf="totalPrice > 0" class="price">Total: {{totalPrice}}</div>
  </div>
  </div>
</div>