img {
  width: 100px;
  border-radius: 10px;
}

.main {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.form-margin {
  margin-bottom: 12px;
}

.cart-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.cart-item-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  margin-left: 80px;
}

input {
  width: 20px;
  text-align: center;
  margin: 0 2px;
}

.cart-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 64px;
}

.cart-panel {
  margin-left: 50px;
  margin-right: 50px;
}

.empty-cart-message {
  display: flex;
  justify-content: center;
  margin-top: 64px;
  font-size: 1.5em;
}

.round {
  display: block;
  height: 20px;
  width: 20px;
  border: 1px solid black;
}

.quantity {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.price {
  font-size: 1.5em;
  font-weight: bold;
}
