<div class="product-container">
    <div *ngFor ="let product of products" class="product-index">
      <img src="{{ product.url }}">
      <div class="content">
      <h1>{{product.name}}</h1>
      <h3>${{product.price}}</h3>
      <select id="quantity">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
      <button>Add to cart</button>
    </div>
    </div>
</div>